{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-7">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet consequatur facilis fugit non quae quas
                    recusandae repudiandae sint veritatis. Accusamus aliquam deserunt dignissimos error est hic, impedit labore
                    mollitia.
                </p>
            </div>
            <div class="col-12 col-md-5 col-lg-5">
                <img src="" alt="img-1">
            </div>
        </div>
    </div>
{% endblock %}
